.scoreboard__wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, #667eea, #764ba2);
}

.scoreboard__container {
  width: 50%;
  font-size: 2.4rem;
  background-color: #fff05a;
  padding: 2rem;
  text-align: center;
  border: 5px solid #000;
  box-shadow: 0px 0px 20px #545464;
  /* opacity: 0; */
  animation: mouted 1.3s linear;
  /* animation-delay: 1.3s; */
}

.scoreboard__winner {
}
.scoreboard__time {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.scoreboard__step {
  margin-bottom: 1rem;
}
.scoreboard__options {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
}

.replay-btn {
  padding: 0.4rem 0.8rem;
  font-size: 2rem;
  border: none;
  background-color: #08bdbd;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.quit-btn {
  padding: 0.4rem 2.8rem;
  font-size: 2rem;
  border: none;
  background-color: #f21b3f;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.quit-btn a {
  color: #000;
  text-decoration: none;
}

@keyframes mouted {
  0% {
    margin-top: -1000px;
  }
  100% {
    margin-top: 0px;
  }
}
